# Copia este archivo como .env en la raíz del proyecto
# y reemplaza los valores con tus credenciales de Earthdata
EARTHDATA_USERNAME=tu_usuario_earthdata
EARTHDATA_PASSWORD=tu_contraseña_earthdata
# Opcional si prefieres usar un token en lugar de usuario/contraseña
# EARTHDATA_TOKEN=tu_token_earthdata
